@model Fap.AspNetCore.ViewModel.JqGridViewModel
@{
    Layout = null;
}
<title>
    <fap-multilang lang-key="assess" default-content="绩效考核"></fap-multilang>
</title>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title"><fap-multilang lang-key="scheme_category" default-content="方案分类"></fap-multilang></h4>
                <fap-tree-button id="schemecategory" description="方案分类" tree-id="tree-schemecategory"></fap-tree-button>
            </div>

            <div class="widget-body">
                <div class="widget-main treescrollable">
                    <fap-tree id="schemecategory" is-async="true" get-url="/Assess/Api/SchemeCategory" edit-url="/Assess/Api/SchemeCategory" plugin-dnd="true"></fap-tree>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">考核方案</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
                <div class="widget-toolbar">
                    <fap-button id="btnStart" content="启动" data-status="Starting" btn-tag="link" icon-before="fa fa-play"></fap-button>
                    <fap-button id="btnArchive" content="归档" data-status="Filed" btn-tag="link" icon-before="fa fa-file-archive-o"></fap-button>
                    <fap-button id="btnClose" content="关闭" data-status="Closed" btn-tag="link" icon-before="fa fa-times"></fap-button>
                </div>
                <div class="widget-toolbar no-border">
                    <fap-button id="btnPerfKpi" content="考核指标" btn-tag="link" icon-before="fa fa-list"></fap-button>
                    <fap-button id="btnPerfObject" content="考核对象" btn-tag="link" icon-before="fa fa-users"></fap-button>
                    <fap-button id="btnPerfModel" content="考核方式" btn-tag="link" icon-before="fa fa-cogs"></fap-button>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <fap-grid id="scheme" grid-model="Model" on-form-init-add="afterInitFormCallback" shrink-fit="false" multi-select="true" multi-box-only="true"></fap-grid>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var afterInitFormCallback = function () {
        var tree = $('#tree-schemecategory').jstree(true);
        var sel = tree.get_selected();
        if (sel.length) {
            $("#PrmCategory").val(sel[0]).next().val(tree.get_node(sel[0]).text);
        }
    };
    var scripts = [null, null];
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $(document).one('ajaxloadstart.page', function (e) {
                $('#tree-perfprmcat').jstree('destroy');
            })
              //catUid 主Uid,catName 主名称,childs 子Uid
            var RefreshPrm = function (catUid, catName, childs) {
                //根节点
                if (catUid == "0") {
                    reloadGrid("grid-scheme");
                    return;
                }
                var filter = '{"groupOp":"AND","rules":[{"field":"PrmCategory","op":"eq","data":"' + catUid + '"}]}';
                if (childs != undefined && childs != '') {
                    var selids = childs.concat(catUid);
                    filter = '{"groupOp":"AND","rules":[{"field":"PrmCategory","op":"in","data":"' + selids + '"}]}'
                }
                reloadGrid("grid-scheme", { filters: filter});

            };
            $('#tree-schemecategory').on("changed.jstree", function (e, data) {
                if (data && data.selected && data.selected.length) {
                    var catUid = data.selected[0];
                    var catName = data.node.text;
                    var childs = data.node.children_d;
                    RefreshPrm(catUid, catName, childs);
                }
            });
            //考核指标
            $("#btnPerfKpi").on(ace.click_event, function () {
                var rd = getSelectedRow("grid-scheme");
                if (rd === null) {
                    return;
                }
                bootboxWindow($.lang("kpi", "考核指标"), "/Assess/Manage/KPI", {
                    kpitype: {
                        label: $.lang("kpi_type", "考核指标类型"),
                        className: "btn-primary btn-link",
                        callback: function () {
                            bootboxWindow($.lang("kpi_type", "考核指标类型"), "/Assess/Manage/KPIType"
                                , null, { fid: rd.Fid, schemeName: rd.PrmName });
                            return false;
                        }
                    },
                    scoreModel: {
                        label: $.lang("score_model", "评分方式"),
                        className: "btn-primary btn-link",
                        callback: function () {
                            bootboxWindow($.lang("score_model", "评分方式"), "/Assess/Manage/ScoreModel");
                            return false;
                        }
                    }
                }, { fid: rd.Fid, schemeName: rd.PrmName });
            })
            //考核对象
            $("#btnPerfObject").on(ace.click_event, function () {
                var rd = getSelectedRow("grid-scheme");
                if (rd === null) {
                    return;
                }
                bootboxWindow0($.lang("objectives", "考核对象"), "/Assess/Manage/Objectives", {
                    add: {
                        label: $.lang("add_objectives", "添加考核对象"),
                        className: "btn-primary btn-link",
                        callback: function () {
                            bootboxWindow0($.lang("objectives_selector", "考核对象选择"), "/Assess/Manage/ObjectivesSelector",{
                                selectAll: {
                                    label: $.lang("add_all", "添加当前所有"),
                                    className: "btn-primary btn-link",
                                    callback: function () {
                                        addSelectAll(rd.Fid, rd.ObjectType);
                                        return false;
                                    }
                                },
                                select: {
                                    label: $.lang("add_select", "添加选中项"),
                                    className: "btn-primary btn-link",
                                    callback: function () {
                                        addSelectItem(rd.Fid, rd.ObjectType)
                                        return false;
                                    }
                                }  
                            }, { objType: rd.ObjectType });
                            return false;
                        }
                    },
                    examiner: {
                        label: $.lang("set_examiner", "设置考核人"),
                        className: "btn-primary btn-link",
                        callback: function () {
                            var objectives = getObjectives();
                            if (objectives == null) {
                                return false;
                            }
                            bootboxWindow0($.lang("set_examiner", "设置考核人"), "/Assess/Manage/Measure", {
                                add: {
                                    label: $.lang("ok", "确定"),
                                    className: "btn-primary btn-link",
                                    callback: function () {
                                        var objs = $.map(objectives, function (d) {
                                            return d.Fid;
                                        });
                                        var data = addExaminer(objs);
                                        alert(JSON.stringify(data));
                                    }
                                }
                            });
                            return false;
                        }
                    }
                }, { fid: rd.Fid});

            })
            //考核方式
            $("#btnPerfModel").on(ace.click_event, function () {
                var gr = jQuery("#grid-scheme").jqGrid('getGridParam', 'selrow');
                if (gr === null) {
                    bootbox.alert("请选中一个方案查看");
                    return;
                }
                var rowData = jQuery("#grid-scheme").getRowData(gr);
                var prm = encodeURIComponent(rowData.PrmName);
                //window.open("@Url.Content("~/Performance/Perf/PerfModel/")" + rowData.Fid + "?prm=" + prm, "_blank");
                openNewWindow("@Url.Content("~/Performance/Perf/PerfModel/")" + rowData.Fid + "?prm=" + prm);
            })
            $("#btnScoreResult").on(ace.click_event, function () {
                var gr = jQuery("#grid-scheme").jqGrid('getGridParam', 'selrow');
                if (gr === null) {
                    bootbox.alert("请选中一个方案查看");
                    return;
                }
                var rowData = jQuery("#grid-scheme").getRowData(gr);
                //Result	成绩公布            Filed	已归档            Closed	已关闭            Ended	已结束
                //Init	初始化            Issued 	发布            Starting	考核中
                if (rowData.PrmStatus == "Init" || rowData.PrmStatus == "Issued" || rowData.PrmStatus == "Starting") {
                    bootbox.alert("考核结果还没有生成");
                    return;
                }
                openNewWindow("@Url.Content("~/Performance/Perf/ScoreResult/")" + rowData.Fid);
            })
            //启动
            $("[data-action=setprmstatus]").off(ace.click_event).on(ace.click_event, function (e) {
                e.preventDefault();
                var prmstatus = $(this).data("status");
                var gr = jQuery("#grid-scheme").jqGrid('getGridParam', 'selrow');
                if (gr === null) {
                    bootbox.alert("请选中一个方案查看");
                    return;
                }
                var grs = getSelectedRows("grid-scheme");// jQuery("#grid-perfprogram").jqGrid('getGridParam', 'selarrrow');
                if (grs === null)
                {
                    return;
                }
                var fids = [];
                $.each(grs, function (i, d) {
                    //var rowData = $("#grid-perfprogram").getRowData(d);
                    fids.push(d.Fid);
                })
                $.post("@Url.Content("~/api/Perf/SetPerfPrmStatus/")", { status: prmstatus, prms: fids }, function (rv) {
                    if (rv.success == true) {
                        var ref = $('#tree-schemecategory').jstree(true);
                        var sel = ref.get_selected();
                        if (sel == "") {
                            RefreshPrm("0", "");
                        } else {
                            var catUid = sel[0];
                            var catName = ref.get_node(catUid).text;
                            RefreshPrm(catUid, catName);
                        }
                    }
                })
            })

            $('#grid-scheme').jqGrid('navButtonAdd', '#pager-perfprogram', {
                caption: '',
                title: '复制',
                position: 'first',
                buttonicon: 'ace-icon fa fa-clipboard purple',
                onClickButton: function () {
                    var gsr = jQuery('#grid-scheme').jqGrid('getGridParam', 'selrow');
                    if (gsr) {
                        bootbox.confirm("确定要复制一份选中的考核方案?", function (result) {
                            if (result) {
                                //
                                var ret = jQuery('#grid-scheme').jqGrid('getRowData', gsr);
                                //alert(ret.Fid);
                                $.get("@Url.Content("~/api/Perf/CopyProgram/")" + ret.Fid, function (rv) {
                                    if (rv.success) {
                                        $("#grid-scheme").jqGrid('setGridParam', {
                                            datatype: 'json',
                                            page: 1
                                        }).trigger("reloadGrid"); //重新载入
                                    }
                                })
                            }
                        });

                    } else {
                        $.msg('请选择一条数据')
                    }

                }
            });
        })

    })
</script>



