@model Fap.AspNetCore.ViewModel.JqGridViewModel
@{
    _platformDomain.DictSet.TryGetValueByCategory("TableCategory", out IEnumerable<Fap.Core.Infrastructure.Metadata.FapDict> tableCategorys);
}
<title><fap-multilang lang-key="system_tools_tablemetadata_title" default-content="表元数据"></fap-multilang>    </title>
<link href="~/Content//css/chosen.css" rel="stylesheet" />
<script>
      //加载历史版本
    function showColumnMetadataGrid(parentRowID, parentRowKey) {
        var url = "@Url.Content("~/System/Tools/ColumnMetadata")?id=" + parentRowKey;
        //$('#' + parentRowID).load($.randomUrl("@Url.Content("~/System/Tools/ColumnMetadata")?id=" + parentRowKey), function (rv) {
        $.get(url, function (rv) {
        var index = layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['100%','100%'], //宽高
            content:rv
        });
        layer.full(index);

        });

    }

</script>
<div class="row">
    <div class="col-xs-12">
        <div id="widget-box-orgdept" class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">
                    <fap-multilang lang-key="system_tools_tablemetadata_title" default-content="表元数据"></fap-multilang>
                </h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
                <div class="widget-toolbar">
                    <select class="chosen-select form-control" style="width:300px" id="selTableCategory" data-placeholder="表分类...">
                        <option value="">  </option>
                        @foreach (var category in tableCategorys)
                        {
                            <option value="@category.Code">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="widget-toolbar no-border">
                    <fap-button id="btnColumnMetadata" btn-tag="link" content="列元数据" icon-before="glyphicon glyphicon-th blue" class-name="info"></fap-button>
                    <fap-button id="btnForceSync" btn-tag="link" content="强制同步" icon-before="fa fa-bolt blue" class-name="info"></fap-button>
                    <fap-button id="btnRefreshMetadata" btn-tag="link" content="刷新元数据" icon-before="fa fa-refresh blue" class-name="info"></fap-button>
                </div>
            </div>
            <div class="widget-body">
                <!-- #section:custom/widget-box.toolbox -->
                <div class="widget-main">
                    <fap-grid id="faptable" grid-model="Model"  source-type="Local" auto-width="true" ></fap-grid>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    //导出数据需要的js
    var scripts = [null, "/Content/js/chosen.jquery.js", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $(document).one('ajaxloadstart.page', function (e) {
            })
            $('.chosen-select').chosen({ allow_single_deselect: true }).on("change", function () {
                var c = $(this).val();
                if (c === "") {
                    return;
                }
                var filter = '{"groupOp":"AND","rules":[{"field":"TableCategory","op":"eq","data":"' + c + '"}]}'

                reloadGrid("grid-faptable", { filters: filter })
            });
            $("#btnColumnMetadata").on(ace.click_event, function () {
                var rowData = getSelectedRow("grid-faptable");
                if (rowData == null) {
                    return;
                }
                var url = "@Url.Content("~/System/Tools/ColumnMetadata")/" + rowData.Fid + "?menuUrl=~/System/Tools/TableMetadata";

                var dialog = bootbox.dialog({
                    title: '列元数据',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                    size: "fullscreen",
                    footer: false,
                   // buttons: buttons
                });
                dialog.init(function () {
                    $.get(url, function (ev) {
                        dialog.find('.bootbox-body').html(ev);

                    });
                });
                //$.get(url, function (rv) {
                //    var index = layer.open({
                //        type: 1,
                //        zIndex:500,
                //        skin: 'layui-layer-rim', //加上边框
                //        area: ['100%', '100%'], //宽高
                //        content: rv
                //    });
                //    layer.full(index);

                //});
            });
            $("#btnForceSync").on(ace.click_event, function () {
                var rowData = getSelectedRow("grid-faptable");
                if (rowData == null) {
                    return;
                }
                $.get(basePath + "/System/Api/Tools/ForceSync/" + rowData.Id, function (rv) {
                    if (rv.success) {
                        $.msg("同步成功");
                    }
                })
            });
            $("#btnRefreshMetadata").on(ace.click_event, function () {
                $.get(basePath + "/System/Api/Tools/RefreshMetadata", function (rv) {
                    if (rv.success) {
                        $.msg("刷新成功");
                    }
                })
            })

        })
    });


</script>