@using Fap.Workflow.Model
@model Fap.AspNetCore.ViewModel.JqGridViewModel
@using Fap.AspNetCore.Controls.JqGrid
@{
    Layout = null;
    string tableName = Model.JqgridId;
    //增加操作列
    Column column = new Column("oper");
    column.SetLabel("操作");
    column.SetSortable(false);
    column.SetWidth(110);
    WfBusiness biz = ViewBag.Business;
}

<div class="row">
    <div class="col-xs-12">
        <fap-grid id="@Model.JqgridId" attach-column="@column" grid-model="Model" wrapper="col-xs-12" auto-width="true" shrink-fit="false" oper-import="false" on-grid-complete="initOperMenu"></fap-grid>
    </div>
</div>
<script>
    function initOperMenu()
    {
        var ids = jQuery("#grid-@tableName").jqGrid('getDataIDs');
        for (var i = 0; i < ids.length; i++) {
            var de = '';
            var cl = ids[i];
            var ret = jQuery('#grid-@tableName').jqGrid('getRowData', cl);
            var fid = ret.Fid;

            de += "<a  href='javascript:void(0)' onclick='viewBill(\"" + fid + "\")'>查看</a>  ";
            de += "<a  href='javascript:void(0)' onclick='workflowChart(\"" + fid + "\")'>流程图</a>";

            jQuery('#grid-@tableName').jqGrid('setRowData', ids[i], { oper: de });
        }
    }
     /**
     * 流程图
     * */
    function workflowChart(fid) {
        var processUid = '@biz.WfProcessUid';//流程
        var openUrl = $.randomUrl(basePath + "/Workflow/Business/FlowChart?processUid=" + processUid + "&bizUid=" + fid);
        var width = parseInt($(window).innerWidth() * 0.8) + 'px';
        var height = parseInt($(window).innerHeight() - 60) + 'px';
        var index = layer.open({
            type: 2,
            title: '"@biz.BizName"流程图',
            shadeClose: true,
            shade: 0.8,
            maxmin: true, //开启最大化最小化按钮
            skin: 'billskin',
            btnAlign: 'c',
            area: [width, height],
            content: openUrl,
            btn: ['关闭'],
            yes: function (index, layero) {
                layer.close(index);
            }
            , cancel: function () {
                //右上角关闭回调

                //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    }
       
    function viewBill(fid)
    {
        var agent = '@ViewBag.Agent';
        var businessUid = '@biz.Fid';
        var openUrl = basePath + "/Workflow/Business/ApprovalViewBill?billUid=" + fid + "&businessUid=" + businessUid + "&agent=" + agent;
        var width = parseInt($(window).innerWidth() * 0.8) + 'px';
        var height = parseInt($(window).innerHeight() - 60) + 'px';
        var index = layer.open({
            type: 2,
            title: '审批单查看',
            shadeClose: true,
            shade: 0.8,
            maxmin: true, //开启最大化最小化按钮
            skin: 'billskin',
            btnAlign: 'c',
            area: [width, height],
            content: openUrl,
            btn: [ '关闭']
            , yes: function (index, layero) {
                layer.close(index);
            }
            , cancel: function () {
                //右上角关闭回调

                //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    }
    function refreshList()
    {
        $("#grid-@tableName").trigger("reloadGrid"); //重新载入

    }
</script>