@model Fap.AspNetCore.ViewModel.JqGridViewModel
@using Fap.AspNetCore.Controls.JqGrid
@{
    Layout = null;
    Fap.Workflow.Model.WfBusiness biz = ViewBag.WfBusiness;
    Fap.Workflow.Model.WfProcess wfProcess = ViewBag.WfProcess;
    string tableName = biz.BillEntity;// ViewData["tableName"].ToString();
    string bizCode = biz.BizCode; //ViewData["bizTypeCode"].ToString();
    string businessUid = biz.Fid; //ViewData["bizTypeId"].ToString();
    string title = biz.BizName;
    IEnumerable<Fap.Core.Infrastructure.Metadata.FapDict> billStatus = _dbContext.Dictionarys("BillStatus");
    //增加操作列
    Column column = new Column("oper");
    column.SetLabel("操作");
    column.SetSortable(false);
    column.SetWidth(140);
}
<script>
    //刷新列表
    function refreshList() {
        var searchText = $("#id-text-search").val();
        var billstatus = $("#id-text-search").data("surstatus");
        var filter = { groupOp: "AND", rules: [] };
        var rules = [];
        if (searchText != '') {
            rules.push({ "field": "BillCode", "op": "cn", "data": searchText });
        }
        if (billstatus != "-1") {
            rules.push({ field: "BillStatus", op: "eq", data: billstatus });
        }
        if (rules.length > 0) {
            filter.rules = rules;
            $("#grid-@tableName").jqGrid('setGridParam', {
                datatype: 'json',
                postData: { filters: JSON.stringify(filter) }, //发送数据
                page: 1
            }).trigger("reloadGrid"); //重新载入
        } else {
            $("#grid-@tableName").jqGrid('setGridParam', {
                page: 1,
                postData: { 'filters': '' },
            }).trigger("reloadGrid"); //重新载入
        }
    }

</script>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
          
            <div class=" col-xs-6  btn-toolbar">
                <p>
                    <div class="btn-group">
                        <button data-toggle="dropdown" id="filterStatus" class="btn  btn-white dropdown-toggle">
                            全部状态
                            <i class="ace-icon fa fa-angle-down icon-on-right"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-default">

                            <li data-surstatus="-1">
                                <a href="javascript:void(0)">全部状态</a>
                            </li>
                            @foreach (var item in billStatus)
                            {
                                <li data-surstatus="@item.Code">
                                    <a href="javascript:void(0)">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div><!-- /.btn-group -->
                    <div class="input-group col-sm-4 col-xs-12">
                        <input class="form-control" id="id-text-search" placeholder="单据编码" data-surstatus="-1" type="text" />
                        <span class="input-group-addon">
                            <i class="fa fa-search bigger-110"></i>
                        </span>
                    </div>
                </p>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <fap-grid id="@tableName" attach-column="@column" grid-model="Model" auto-width="true" shrink-fit="false" view-records="true" on-grid-complete="initWorkflowMenu"></fap-grid>

            </div>
        </div>

    </div>
</div>
<script>
    /**
     * 初始化列表菜单
     * */
    function initWorkflowMenu()
    {
        var ids = jQuery("#grid-@tableName").jqGrid('getDataIDs');
        for (var i = 0; i < ids.length; i++) {
            var de = '';
            var cl = ids[i];
            var ret = jQuery('#grid-@tableName').jqGrid('getRowData', cl);
            var fid = ret.Fid;
            var status = ret.BillStatus;

            //其他不为作废的单子
            de += "<a  href='javascript:void(0)' onclick='viewBill(\"" + fid + "\",\"" + name + "\")'>查看</a>  ";
            if (status === 'PROCESSING') {
                //流程中
                de += "<a  href='javascript:void(0)' onclick='urgeBill(\"" + fid + "\")'>催办</a>  ";
            }
            de += "<a  href='javascript:void(0)' onclick='workflowChart(\"" + fid + "\")'>流程图</a>  ";

            jQuery('#grid-@tableName').jqGrid('setRowData', ids[i], { oper: de });
        }
    }
    /**
     * 催办
     * @@param fid
     */
    function urgeBill(fid) {
        bootbox.confirm('催办将向处理人发送消息，确认催办？', function (result) {
            if (result) {
                var businessUid = '@businessUid';
                var url = $.randomUrl(basePath + "/Workflow/Api/Business/UrgeBill?billUid=" + fid + "&businnessUid=" + businessUid);
                $.get(url, function (rv) {
                    $.msg(rv.msg);

                })
            }
        })
    }
    /**
     * 流程图
     * */
    function workflowChart(fid) {
        var processUid = '@wfProcess.Fid';//流程
        var openUrl = $.randomUrl(basePath + "/Workflow/Business/FlowChart?processUid=" + processUid + "&billUid=" + fid);
        var index = layer.open({
            type: 2,
            title: '"@title"申请单',
            shadeClose: true,
            shade: 0.8,
            maxmin: true, //开启最大化最小化按钮
            skin: 'billskin',
            btnAlign: 'c',
            area: ['893px', '600px'],
            content: openUrl,
            btn: ['关闭'],
            yes: function (index, layero) {
                layer.close(index);
            }
            , cancel: function () {
                //右上角关闭回调

                //return false 开启该代码可禁止点击该按钮关闭
            }
        });
        layer.full(index);
    }
    function viewBill(fid) {
        var processUid = '@wfProcess.Fid';//流程
        var frmType = '@wfProcess.FormType';//表单类型
        var business = '@biz.Fid';//业务Uid

        if (processUid == '') {
            bootbox.alert("此业务没关联流程或关联的流程已失效,请设置关联！");
            return;
        }
        var openUrl = $.randomUrl('@Url.Content("~/Workflow/Business/ApplyViewBill")?processUid=' + processUid + '&businessUid=' + business + '&billUid=' + fid);

        var index = layer.open({
            type: 2,
            title: '"@title"申请单查看',
            shadeClose: true,
            shade: 0.8,
            maxmin: true, //开启最大化最小化按钮
            skin: 'billskin',
            btnAlign: 'c',
            area: ['893px', '600px'],
            content: openUrl,
            btn: ['打印', '关闭']
            , yes: function (index, layero) {
                //按钮【暂存】的回调
                var iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.printBill();

                return false;
            }
            , btn2: function (index, layero) {
                //按钮【提交流程】的回调
                layer.close(index);
            }

            , cancel: function () {
                //右上角关闭回调

                //return false 开启该代码可禁止点击该按钮关闭
            }
        });
        if (frmType != 'Internal') {
            layer.full(index);
        }
    }

        jQuery(function ($) {
            $(".dropdown-menu>li").off(ace.click_event).on(ace.click_event, function (e) {
                var tName = $(this).text();
                var tValue = $(this).data("surstatus");
                $("#id-text-search").data("surstatus", tValue);
                $("#filterStatus").html(tName + "<i class=\"ace-icon fa fa-angle-down icon-on-right\"></i>");
            })
            $(document).one('ajaxloadstart.page', function (e) {
                //$(document).off(ace.click_event, '.dropdown-menu>li');
            })
            //新申请
            $("#btnAddApply").on(ace.click_event, function () {
                //流程模板
                openBillForm('');
            });


            //查询
            $("#id-text-search").next().on(ace.click_event, function () {
                refreshList();
            });

        })


</script>