@using Fap.Core.Infrastructure.Model
@using Fap.Core.Infrastructure.Enums
@model IEnumerable<FapMessage>
@{ 
    int todoCount = ViewBag.ToDoCount;
    int agentCount = ViewBag.AgentCount;
    int total = todoCount+ agentCount;
    string todoPer = "0%";
    string agentPer = "0%";
    if(total>0)
    {
        if(todoCount>0)
        {
            todoPer = todoCount * 100 / total + "%";
        }
        if(agentCount>0)
        {
            agentPer = agentCount * 100 / total + "%";
        }

    }
}


<li class="grey">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-tasks"></i>
        <span class="badge badge-grey handingcount">@total</span>
    </a>

    <ul id="todotasklist" class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check"></i>
            <span class="hanglingtxt"><b>@total</b> 待处理任务</span>
        </li>

        <li class="dropdown-content">
            <ul  class="dropdown-menu dropdown-navbar">
                <li id="todocounter">
                    <a href="@Url.Content("~/Home/MainFrame#Workflow/Business/TodoTask")">
                        <div class="clearfix">
                            <span class="pull-left">待办任务</span>
                            <span class="pull-right percent">@todoCount </span>
                        </div>

                        <div class="progress progress-mini">
                            <div style="width:@todoPer" class="progress-bar"></div>
                        </div>
                    </a>
                </li>
                <li id="agentcounter">
                    <a href="@Url.Content("~/Home/MainFrame#Workflow/Business/AgentTask")">
                        <div class="clearfix">
                            <span class="pull-left">代理任务</span>
                            <span class="pull-right percent">@agentCount</span>
                        </div>

                        <div class="progress progress-mini">
                            <div style="width:@agentPer" class="progress-bar"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="@Url.Content("~/Home/MainFrame#Workflow/Business/DoneTask")">
                查看所有已办理任务
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>


@if (Model != null)
{
    var notices = Model.Where(m => m.MsgCategory == FapMessageCategory.Notice);
    var messages = Model.Where(m => m.MsgCategory == FapMessageCategory.Message);
    if (notices != null)
    {

        var grpNotice = notices.ToList().OrderByDescending(n => n.CreateDate).Take(10);

        <li class="purple">

            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                <span class="badge badge-important">@notices.Count()</span>
            </a>

            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-exclamation-triangle"></i>
                    @notices.Count() 通知
                </li>

                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar navbar-pink">
                        @foreach (var item in grpNotice)
                        {
                            string url = "javascript:void(0)";
                            string target = "";
                            if (!string.IsNullOrWhiteSpace(item.URL))
                            {
                                Uri uri = new Uri(item.URL);
                                if (string.IsNullOrEmpty(uri.Query))
                                {
                                    url = String.Concat(item.URL, "?source=" + item.Fid);

                                }
                                else
                                {
                                    url = String.Concat(item.URL, "&source=" + item.Fid);

                                }
                                //target = "target=\"_blank\"";
                            }
                            <li>
                                <a href="@url" @target>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <i class="ace-icon fa fa-comments bigger-230 pink"></i>
                                        </div>
                                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">@item.SEmpUidMC:</span>
                                                @Html.Raw(item.MsgContent)

                                            </span>

                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>@item.SendTime</span>
                                            </span>
                                        </span>

                                    </div>
                                </a>

                            </li>
                        }
                    </ul>
                </li>
                <li class="dropdown-footer">
                    <a href="@Url.Content("~/Home/MainFrame#SelfService/Ess/MessageAndNotice/Notice")">
                        查看所有通知
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>
    }
    if (messages != null)
    {


        <li class="green">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                <span class="badge badge-success">@messages.Count()</span>
            </a>

            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-envelope-o"></i>
                    @messages.Count() 站内信
                </li>

                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar">
                        @foreach (var item in messages)
                        {
                            <li>
                                <a href="#" class="clearfix">
                                    <img src="@Url.Content("~/Component/Photo/")@item.SEmpUid" class="msg-photo" alt="@item.SEmpUidMC" />
                                    <span class="msg-body">
                                        <span class="msg-title">
                                            <span class="blue">@item.SEmpUidMC:</span>
                                            @item.MsgContent
                                        </span>

                                        <span class="msg-time">
                                            <i class="ace-icon fa fa-clock-o"></i>
                                            <span>@item.SendTime</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        }



                    </ul>
                </li>

                <li class="dropdown-footer">
                    <a href="@Url.Content("~/Home/MainFrame#SelfService/Ess/MessageAndNotice/Message")">
                        查看所有站内信
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>

    }
}
